
.activity-main-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.activity-wrapper{
    display: flex;
    flex-direction: column;
}

.activities-heading{
    display: flex;
    flex-direction: row;
    background-color: #1687D9;
    /* background-color: #fafafa; */
    box-shadow: 0px 15px 30px #8a959e61;
    /* overflow: hidden; */
    width: fit-content;
    padding: 0.5rem 2rem 0.5rem 1.3rem;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    gap: 10px;
    margin-left: 2rem;
    margin-top: 1.5rem;
    transition: all 0.2s ease;
}
.activities-heading:hover{
    transform: scale(1.1);
}

.activities-heading > h1 {
    color: #fafafa;
    /* color: black; */
    font-size: 1.2rem;
    font-weight: bold;
    
}
.activities-heading  a {
    text-decoration: none;
    color: #fafafa;
    font-size: 1.2rem;
    margin-left: 1rem;
}

.activities-heading  a:hover{
    opacity: 0.7;
    /* box-shadow: 0px 2px 5px #1687D9; */
    color: #fafafa;
    scale: 1.2;
}
.pressed:active {
    transform: scale(0.98);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    /* Lowering the shadow */
}
.activity-image{
    width: 26vw;
    /* height: 36vh; */
    background-color: #fafafa;
    border-radius: 10px;
    /* margin: 2rem 0 0 2rem; */
    overflow: hidden;
    border:2px solid #1687D9;
    cursor: pointer;
    margin-right: 1.4rem;
    margin-bottom: 1.4rem;
    transition: all 0.2s ease;
    margin-left: 2rem;
    margin-top: 1rem;

}
.activity-image:hover{
    transform: scale(1.1);
    margin-right:2px;
}
.activity-image > img {
    width: 100%;
    height: 40vh;
    object-fit: cover;

}

@media(max-width:576px) {
    .event-heading{
        font-size: 1rem;
    }
    .activity-main-wrapper{
        margin-left: 1rem;
    }
    .activities-heading{
        justify-content: center;
        margin-left: 0;
    }
    .activities-heading > h1{
        font-size: 0.9rem;
    }
    .activity-image{
        width: 80vw;
        margin-left: 0;
    }
}

@media (min-width:572px) and (max-width:992px) {
    .event-heading{
        font-size: 1.2rem;
    }
    .activity-main-wrapper{
        margin-left: 1.3rem;
    }
    .activities-heading{
        justify-content: center;
        /* margin-left: 0; */
    }
    .activities-heading > h1{
        font-size: 0.9rem;
    }
    .activity-image{
        width: 80vw;
        /* margin-left: 0; */
    }
    .activity-image > img {
        height: 55vh;
    }
}
